.center-text {
    /* TODO 3.1: Align the text center or right */

    /* TODO 3.2: Change the color of the font to your favorite color */
    
    /* TODO 3.3: Make the font thicker */
    
    /* TODO 3.4: Increase the font size*/
    
    /* TODO 3.5: Add an underline to the text */
    
}

.paragraph-style {
    /* TODO 3.6: Make the font italic */
    
    /* TODO 3.7: Change the font to  */
    
    /* TODO 3.8: Increase the space between lines */

}

.box {
    /* TODO 3.9: Set the width and height of the div. Try out the different units of HTML. px, em, %, in, rem  */
    
    /* TODO 3.10: Change the background color fo the div. Can you find a way to make the background color 50% transparent? */
    
    /* TODO 3.11: Play around with the margin, padding and border. Can you find a way to set the size of specific sides? */

}